<head>
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1">
                   <title>Prove It!</title>
                   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
                   
                   <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
                   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
                   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                   
                <script>
                    function ready(callback){
    // in case the document is already rendered
    if (document.readyState!='loading') callback();
    // modern browsers
    else if (document.addEventListener) document.addEventListener('DOMContentLoaded', callback);
    // IE <= 8
    else document.attachEvent('onreadystatechange', function(){
        if (document.readyState=='complete') callback();
    });
}
                    ready(function(){
                        const queryString = window.location.search;
                                    const urlParams = new URLSearchParams(queryString);
                                    const redirectPage = urlParams.get('redirect')
                                    const promptLogin = urlParams.get('promptLogin')
                                    if (promptLogin) {
                                        $('#login').modal("show");
                                    }
                    
                    document.getElementById('loginForm').onsubmit = function() {
                        event.preventDefault()
                        event.stopImmediatePropagation()
                        const formData = new FormData();

                        formData.append("username", document.getElementById("typeUserX-2").value);
                        formData.append("password", document.getElementById("typePasswordX-2").value); // number 123456 is immediately converted to a string "123456"

                        const request = new XMLHttpRequest();
                        request.open("POST", "/login");
                        request.send(formData);
                        // Get request response
                        request.onload = function() {
                            var json = JSON.parse(request.responseText);
                            if (json.success) {
                                    // refresh page
                                    
                                    if (redirectPage) {
                                        window.location.href = redirectPage
                                        
                                    }
                                    else {
                                    window.location.href = '/'
                                    }
                                } else {
                                    document.getElementById('loginError').style.display = 'block'
                                    loginError.hidden = false
                                    document.getElementById('loginErrorMessage').innerHTML = json.message
                                }
                            };
                        };
                    
                    document.getElementById('signupForm').onsubmit = function() {
                        event.preventDefault()
                        event.stopImmediatePropagation()
                        const formData = new FormData();

                        formData.append("username", document.getElementById("signupUsername").value);
                        formData.append("password", document.getElementById("signupPassword").value); // number 123456 is immediately converted to a string "123456"
                        formData.append('firstName', document.getElementById('signupFirstName').value)
                        formData.append('lastName', document.getElementById('signupLastName').value)
                        formData.append('phoneNumber', document.getElementById('signupPhoneNumber').value)
                        const request = new XMLHttpRequest();
                        request.open("POST", "/signup");
                        request.send(formData);
                        // Get request response
                        request.onload = function() {
                            var json = JSON.parse(request.responseText);
                            if (json.success) {
                                    // refresh page
                                    const queryString = window.location.search;
                                    const urlParams = new URLSearchParams(queryString);
                                    const redirectPage = urlParams.get('redirect')
                                    if (redirectPage) {
                                        window.location.href = redirectPage
                                        
                                    }
                                    else {
                                    window.location.href = window.location.href
                                    }
                                } else {
                                    document.getElementById('signupError').style.display = 'block'
                                    signupError.hidden = false
                                    document.getElementById('signupErrorMessage').innerHTML = json.message
                                }
                            };
                        };
                    })
                //         fetch("/login", {
                //             method: "POST",
                //             body: {
                //               redirect: document.getElementById('redirectlogin').value,
                //               username: document.getElementById("typeUserX-2").value,
                //                 password: document.getElementById("typePasswordX-2").value
                //             }
                            
                //           })
                //           .then((response) => response.json())
                //             .then((json) => {
                //                 if (json.success) {
                //                     // refresh page
                //                     window.location.href = window.location.href
                //                 } else {
                //                     document.getElementById('loginError').style.display = 'block'
                //                     loginError.hidden = false
                //                     document.getElementById('loginErrorMessage').innerHTML = json.message
                //                 }
                //             });
                //             console.log(JSON.stringify({
                //               redirect: document.getElementById('redirectlogin').value,
                //               username: document.getElementById("typeUserX-2").value,
                //                 password: document.getElementById("typePasswordX-2").value
                //             }))

                //     }
                // })
                </script>
                
</head>