<!DOCTYPE html>


{% include 'head.html' %}
<style>
  h1 {
      color: white;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1px;
      font-size: 45px;
  }
  h2 {
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
  }
  .dash {
      padding-left: 75px;
      padding-right: 75px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 45px;
  }
</style>
<body data-bs-theme="dark">
  
    {% include 'navbar.html' %}
<center>
  <br>
    <h1>Prove It!</h1>
    <h2>A simple, yet powerful tool for completing your tasks.</h2>
    <br>
    <br>
    <a href="/{% if user %}dashboard{% else %}?promptLogin=1{% endif %}">
    <button class="btn btn-secondary dash">{% if user %}Dashboard{% else %}Sign Up{% endif %}</button>
    </a>
</center>
    
      
</body>