<!DOCTYPE html>


{% include 'head.html' %}
<style>
  h1 {
      color: white;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1px;
      font-size: 45px;
  }
  h2 {
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
  }
  .dash {
      padding-left: 75px;
      padding-right: 75px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 45px;
  }
</style>
<body data-bs-theme="dark">
  
    {% include 'navbar.html' %}
<center>
  <br>
    <h1>Prove It!</h1>
    <h2>Login Page</h2>
    <br>
    <br>
    <form>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="username" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </a>
</center>
    
      
</body>